.logo {
    width: 10%
}

.title  {
    color: white;
}
.parrafo {
    color: white;
}
.body {
    background-color: rgba(0, 145, 255, 0.778);
}

.section {
    background-color: white;
    margin: 0cm;
}

.header {
    background-color: aquamarine;
}

.backgound-image {
    
}
/* tablet */
@media (min-width: 768px) {
 .title {
    background-color: chocolate;
    
 }
}

@media (min-width: 1024px) {

}