
.header {
    background-color: black;
    position: sticky;
    top: 0;
    
}

.section {
    background-image: url('/images/premium_dancer.png');
    


}


.logo {
    width: 50px;
}
.main-container {
    background-color: antiquewhite;
    height: 160vh;
}
@media (min-width: 768px) {
    .title {
       background-color: chocolate;
       
    }
   }
   
   @media (min-width: 1024px) {
   
   }